body{
    background-image: url(../images/background2.jpg);
    font-family: 'Cherry Cream Soda', cursive;
}

tr{background-color: #fdfd96;}

form{
    background-color: #fdfd96;
}

.jumbotron{
    /* background-color: #1be3f5; */
    background-color: rgb(1, 163, 163);
    font-family: 'Dancing Script', cursive;
}

.display-4{
    /* color: #dace82; */
    color: #fdfd96;
    font-size: 5em;
}

.lead {
    color: #C0C0C0;
    font-size: 2em;
    display: inline;
}



.btn-primary{
    color: silver;
    background-color:rgb(1, 163, 163);
    border: solid 1px rgb(1, 163, 163);
}
.btn-primary:hover{
    background-color: #fdfd96;
    color:rgb(1, 163, 163);
    border: solid 1px rgb(1, 163, 163);
}

.x{
    color:red;
}

#logo{
    height: 200px;
    
}

#schedule-header, #add-a-med{
    background-color:  rgb(255, 98, 176);
    /* color: #01c0d0; */
    color: #1be3f5;
    margin-bottom: 0;
}